## Load library

In [32]:
#Load Library
file = open("host.txt", 'r')
for line in file.readlines():
    data = line.rstrip().split(',') #using rstrip to remove the \n
    username = data[0]
    password = data[1]
    email = data[2]
    
import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import Audio, display
from langdetect import detect

import qgrid
import os
import re

from PIL import Image
import requests
from io import BytesIO

import pandas as pd
import numpy as np

import time
from lxml import html
import requests
from bs4 import BeautifulSoup
    
def alldone():
    #display(Audio(filename='Bossa Vega - Mike Figgis.mp3', autoplay=True))
    #IPython.display.display(IPython.display.Audio(url=url, autoplay=True))
    display(Audio(url='http://www.soundjay.com/button/beep-07.wav', autoplay=True))

    #set display image size
width = 188
height = 333

from ftplib import FTP, error_perm
ftp = FTP()
ftp.encoding = "UTF-8"

def connect_ftp():
    ftp.connect('172.96.191.12', 21) # Hawkhost
    ftp.login(email,password)
    ftp.cwd('/public_html/assets/uploads/user_uploads_report/')

connect_ftp()
    
import mysql.connector
from mysql.connector import Error

import numpy as np 
import pandas as pd
import datetime

import matplotlib.pyplot as plt
%matplotlib inline

connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

import sys
from termcolor import colored, cprint

text = colored('Hello, World!', 'red', attrs=['reverse', 'blink'])
print(text)
cprint('Hello, World!', 'green', 'on_red')

print_red_on_cyan = lambda x: cprint(x, 'red', 'on_cyan')
print_red_on_cyan('Hello, World!')

cprint("Attention!", 'red', attrs=['bold'], file=sys.stderr)

hello=colored('Hello World!', color='green', on_color='on_grey')
print(hello)

def color_text(x):
    return colored(str(x), 'red', attrs=['reverse', 'blink'])
    
def close_connection():    
    if connection and mycursor:
        mycursor.close() 
        connection.close() 
    return None

class color:
    purple = '\033[95m'
    cyan = '\033[96m'
    darkcyan = '\033[36m'
    blue = '\033[94m'
    green = '\033[92m'
    yellow = '\033[93m'
    red = '\033[91m'
    bold = '\033[1m'
    underline = '\033[4m'
    end = '\033[0m'
    
def checkPID(pid):
  if(len(pid) != 13):
    return False
  num=0 
  num2=13
  listdata=list(pid) 
  sum=0 
  while num<12:
    sum+=int(listdata[num])*(num2-num) 
    num+=1 
  digit13 = sum%11
  if digit13==0: 
    digit13=1 
  elif digit13==1:
    digit13=0
  else:
    digit13=11-digit13 
  if digit13==int(listdata[12]):
    return True
  else:
    return False        

# Find latest report id

#%%capture
file = open("last_report_id.txt", 'r')
for line in file.readlines():
    latest_display_report = line.rstrip().split(',') #using rstrip to remove the \n    
print(f"Lastest report that display : {latest_display_report}")

#Check latest report id
response = requests.get("https://www.blacklistseller.com")
soup = BeautifulSoup(response.text, 'html.parser')
#soup.findAll('a')

latest_report_id = str(soup.findAll('a')[7])
latest_report_id=latest_report_id.split("/")[5][0:5]
latest_report_id = int(latest_report_id)

def runsql(command):
    connect_ftp()
    close_connection()
    connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
    mycursor = connection.cursor()
    mycursor.execute(command)
    connection.commit()

Hello, World!
Hello, World!
Hello, World!
Hello World!
Lastest report that display : ['32562']

Attention!

### Load list of files and tb_table

In [33]:
#List list of tb_report_item & tb_report

start_time = time.time()

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report_item LIMIT 100000")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
file1 = pd.DataFrame(result, columns=field_names)

mycursor.execute("select * from tb_report_item LIMIT 10000 OFFSET 100000")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
file2 = pd.DataFrame(result, columns=field_names)

mycursor.execute("select * from tb_report_item LIMIT 100000 OFFSET 200000")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
file3 = pd.DataFrame(result, columns=field_names)

mycursor.execute("select * from tb_report_item LIMIT 100000 OFFSET 300000")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
file4 = pd.DataFrame(result, columns=field_names)

file =pd.concat([file1,file2,file3,file4])
# vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)
tb_report['fullname'] = tb_report['first_name']+ " " + tb_report['last_name']

print("tb_report_item and tb_report", round((time.time() - start_time),2), " second running time\n")
d = datetime.datetime.today()
print("Time running this code: ",d.strftime("%d-%B-%Y %H:%M:%S"))

tb_report_item and tb_report 35.02  second running time

Time running this code:  18-May-2020 15:07:27

### Setting to override

In [3]:
#latest_display_report[0]=32397

In [4]:
#latest_display_report[0]=31864 

# latest_report_id = 27313 
#latest_display_report[0]=28503

number_report_to_show =  int(latest_report_id)-int(latest_display_report[0])
print("Display eport starting at ",latest_display_report[0])
print("\nEnd report = ",latest_report_id)
print("\nNumber of report to display = ",number_report_to_show)

#number_report_to_show = 100

Display eport starting at  32562

End report =  32875

Number of report to display =  313

In [5]:
#Search by report_id and group picture
start_time = time.time()
report_id_to_show =[]
report_id_to_show = list(range(latest_report_id-number_report_to_show+1,latest_report_id+1))
report_id_to_show = [str(x).zfill(len(str(number_report_to_show))) for x in report_id_to_show]

#selected = file[(file['report_id'].isin(report_id_to_show)) & (file['report_item_active'] == 1)]
selected = file[(file['report_id'].isin(report_id_to_show))]

print("Total pictures = " + str(selected.shape[0]))

#Prepare group list
recent_pic = selected['report_item_filename'].values.tolist()

#create variable "group" : a list that group pic for each report_id
temp=[]
group = []
k=0

for x in report_id_to_show:
    for j in range(len(recent_pic)):        
        if recent_pic[j][1:6] == str(x):
            temp.append(recent_pic[j])
        #group[k]= temp
    try:
        group.append(temp)
    except IndexError:
        print("some error")
    
    temp=[]
    k+=1

Total pictures = 3589

### Display report pictures

In [ ]:
#Display report pictures
start_time = time.time()

test=[]
inactive_report = []
for x in group:
    z=0
    test=[]
    for y in range(len(x)):        
        url = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + x[z]
        test.append(url)
        z+=1
        
    if x != []:                
        a = tb_report[tb_report['report_id'] == int(x[z-1][1:6])]['fullname'].tolist()
        b = str(tb_report[tb_report['report_id'] == int(x[z-1][1:6])]['create_date'].tolist())[11:-2]
        if tb_report[tb_report['report_id'] == int(x[z-1][1:6])]['active'].tolist()[0] == 0:
            inactive_report.append(int(x[z-1][1:6]))
            print(color_text("Report ID:"), color_text(x[z-1][1:6]), "| Active = ", tb_report[tb_report['report_id'] == int(x[z-1][1:6])]['active'].tolist(),b,"| Seller name:", a)
        else:
            print("Report ID:", x[z-1][1:6], "| Active = ", tb_report[tb_report['report_id'] == int(x[z-1][1:6])]['active'].tolist(),b,"| Seller name:", a)
                
        x_offset = 0
        new_im = Image.new('RGB', (width*len(x),height))
        for x in test:
            response = requests.get(x)
            try:
                img = Image.open(BytesIO(response.content))
            except IOError:
                #print '%s could not be opened' % imagepath
                print("Could not opened")

            img = img.resize( (width , height), resample=0)
            new_im.paste(img, (x_offset,0))
            x_offset += width
        new_im

alldone()
print(round((time.time() - start_time)/60,2), " minutes running time")
print(f'\nRecent checked report : {latest_report_id}')
print("\nInactive report :")
for x in inactive_report:
    print(x,end=" ")
    
text_file = open("last_report_id.txt", encoding="utf-8", mode="w")
_=text_file.write(str(latest_report_id) + "\n")
#text_file.write(SQL)
text_file.close()

In [ ]:
for x in inactive_report:
    print(x,end=" ")

# ============END==============

## Find creater(user) by report id

In [20]:
x =  28468                               

#report id to find

In [21]:
#Execute CODE

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name, tb_report.active FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_report.report_id = " + str(x)
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]

df_user=pd.DataFrame(result, columns=field_names)
df_user.columns = ['report_id', 'user_id', 'username', 'facebook_id', 'first_name','last_name', 'email', 'phone_number', 'S_first_name', 'S_last_name','active']
df_user['seller name'] = df_user['S_first_name'] + " " + df_user['S_last_name']
df_user.drop(['S_first_name','S_last_name'], axis=1, inplace = True)
df_user

FB=""
contact = ""
print("Report ID : " + str(x) +"\n")
for index,row in df_user.iterrows():
    if row['username'] == "":
        FB = FB + "Report ID : "+ str(row['report_id']) +" |  " + "Active : " +str(row['active']) + "  |  " + row['first_name']+" "+row['last_name'] +"\n"
    else:
        contact = contact + "Report ID : " + str(row['report_id']) +" |  " + "Name: "+ row['first_name'] +"  Email: "+ row['email']+"  Tel: "+row['phone_number'] + "   |  Report active: " + str(row['active']) +"\n" 
            
print("Facebook user (‡πÄ‡∏≠‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏õ‡∏Ñ‡πâ‡∏ô) \n========================\n" + FB)

print("Non-Facebook user (‡πÇ‡∏ó‡∏£‡πÑ‡∏õ‡∏´‡∏≤) \n==========================\n" +contact)

,report_id,user_id,username,facebook_id,first_name,last_name,email,phone_number,active,seller name
0,28468,76982,,1396564197197717,‡∏°‡∏∏‡∏Å',‡∏Å‡∏¥‡∏ï‡∏ï‡∏¥‡∏Å‡∏≤‡∏ô‡∏ï‡πå',0,,1,‡∏™‡∏∏‡πÄ‡∏ô‡∏ï‡∏£‡∏≤ ‡πÅ‡∏Å‡πâ‡∏ß‡∏°‡∏ì‡∏µ

Report ID : 28468

Facebook user (‡πÄ‡∏≠‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏õ‡∏Ñ‡πâ‡∏ô)
========================
Report ID : 28468 |  Active : 1  |  ‡∏°‡∏∏‡∏Å' ‡∏Å‡∏¥‡∏ï‡∏ï‡∏¥‡∏Å‡∏≤‡∏ô‡∏ï‡πå'

Non-Facebook user (‡πÇ‡∏ó‡∏£‡πÑ‡∏õ‡∏´‡∏≤)
==========================

## Find user who create by seller lastname

In [11]:
x =  "‡∏Å‡∏±‡∏ô‡∏ò‡∏¥‡∏¢‡∏∞"   # seller lastname

In [12]:
#Code
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#Lastname
TEXT = "SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name,tb_report.active FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_report.last_name LIKE '%" + x +"%'"

#Firstname
# TEXT = "SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_report.first_name LIKE '%" + x +"%'"
TEXT
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df_user=pd.DataFrame(result, columns=field_names)
df_user.columns = ['report_id', 'user_id', 'username', 'facebook_id', 'first_name','last_name', 'email', 'phone_number', 'S_first_name', 'S_last_name','active']
df_user['seller name'] = df_user['S_first_name'] + " " + df_user['S_last_name']
#df_user['seller name'] = df_user.iloc[:,-2] + " " + df_user.iloc[:,-1]
df_user.drop(['S_first_name','S_last_name'], axis=1, inplace = True)
df_user
FB=""
contact = ""
print("Seller lastname : " + str(x) +"\n")
for index,row in df_user.iterrows():
    if row['username'] == "":
        FB = FB + "Report id : "+ str(row['report_id']) +" |  " + "Active : " +str(row['active']) + "  |  " + row['first_name']+" "+row['last_name'] +"\n"
    else:
        contact = contact + "Report id " + str(row['report_id']) +" |  " + "Name: "+ row['first_name'] +"  Email: "+ row['email']+"  Tel: "+row['phone_number'] + "   |  Report active: " + str(row['active']) +"\n" 
            
print("Facebook user (‡πÄ‡∏≠‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏õ‡∏Ñ‡πâ‡∏ô) \n=================\n" + FB)

print("Non-Facebook user (‡πÇ‡∏ó‡∏£‡πÑ‡∏õ‡∏´‡∏≤) \n=================\n" +contact)

"SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name,tb_report.active FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_report.last_name LIKE '%‡∏Å‡∏±‡∏ô‡∏ò‡∏¥‡∏¢‡∏∞%'"

,report_id,user_id,username,facebook_id,first_name,last_name,email,phone_number,active,seller name
0,10654,30322,,755876664842374,N'phaohom,Thanasorn,0,,1,‡∏ó‡∏£‡∏á‡∏≠‡∏†‡∏¥‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå ‡∏Å‡∏±‡∏ô‡∏ò‡∏¥‡∏¢‡∏∞
1,12402,34661,,3162958820444758,Jirawan,Herabat,0,,1,‡∏ó‡∏£‡∏á‡∏≠‡∏†‡∏¥‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå ‡∏Å‡∏±‡∏ô‡∏ò‡∏¥‡∏¢‡∏∞

Seller lastname : ‡∏Å‡∏±‡∏ô‡∏ò‡∏¥‡∏¢‡∏∞

Facebook user (‡πÄ‡∏≠‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡πÑ‡∏õ‡∏Ñ‡πâ‡∏ô)
=================
Report id : 10654 |  Active : 1  |  N'phaohom Thanasorn
Report id : 12402 |  Active : 1  |  Jirawan Herabat

Non-Facebook user (‡πÇ‡∏ó‡∏£‡πÑ‡∏õ‡∏´‡∏≤)
=================

## Find report ID by ‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏ô‡πÇ‡∏Å‡∏á

In [ ]:
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

x= "‡∏ß‡∏á‡∏Ñ‡πå‡∏©‡∏≤‡πÑ‡∏ä‡∏¢"   # either firstname or last name

TEXT = "SELECT report_id, user_id, first_name, last_name , create_date, active FROM tb_report WHERE first_name LIKE '%" + x +"%'" + "OR last_name LIKE '%" + x +"%' ORDER BY report_id DESC"

mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
pd.DataFrame(result, columns=field_names)

## Find Report by user_ID

In [ ]:
x= 77011      # user ID

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * FROM `tb_report` WHERE `user_id` =" + str(x) + " ORDER BY `report_id` ASC"

mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
pd.DataFrame(result, columns=field_names)

## FIX missing report

In [ ]:
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * from tb_user where facebook_id is not null ORDER BY user_id ASC "
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df2=pd.DataFrame(result, columns=field_names)
df2['facebook_id'].replace('', np.nan, inplace=True)
df2.dropna(subset=['facebook_id'], inplace=True)
df2['fullname'] = df2['first_name']+ " " + df2['last_name']
df2.drop(df2[ df2['fullname'] == "0 0" ].index , inplace=True)

In [ ]:
#df2.sort_values(by='fullname', ascending = True)
# dup_id = df2[df2['fullname'].duplicated()]
# dup_id
duplicate = df2[df2['fullname'].duplicated(keep=False)]
duplicate = duplicate.sort_values(by='fullname', ascending = True)
# duplicate
#df2[df2['fullname'] == "‡∏™‡∏ô‡∏∏‡πä‡∏Å‡πÄ‡∏Å‡∏≠‡∏£‡πå ‡∏ô‡∏∏‡πä‡∏Å"]
listofdupuser = duplicate['user_id'].tolist()

In [ ]:
mycursor.execute("select report_id, user_id,first_name, last_name,active from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report2 = pd.DataFrame(result, columns=field_names)
tb_report2['fullname'] = tb_report2['first_name']+ " " + tb_report2['last_name']
n=0
for index,row in tb_report2.iterrows():
    if row['user_id'] in listofdupuser:
        name = str(duplicate[duplicate['user_id']==row['user_id']]['fullname'])
        
        n+=1
        
print(n)

## üõ† Fix owner of the report (Find all report created by username)

In [ ]:
#Input fb creater lastname
print("Creater FB Lastname?")
x = input()

# x = "Pakornlam"  # facebook user's lastname to find

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * from tb_user WHERE tb_user.last_name LIKE '%" + x +"%' ORDER BY create_date DESC "
#TEXT = "SELECT * from tb_user WHERE tb_user.last_name LIKE "+ x + " ORDER BY create_date DESC"
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df_user=pd.DataFrame(result, columns=field_names)
print("\nUSER INFORMATION")
df_user

#LASTNAME
TEXT = "SELECT tb_report.report_id, tb_report.active, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_user.last_name LIKE '%" + x +"%'"

#FIRSTNAME
# TEXT = "SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_user.first_name LIKE '%" + x +"%'"
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df_report=pd.DataFrame(result, columns=field_names)
print("REPORT INFORMATION")
df_report
df_report['report_id'].tolist()

# Check whether can automate
automatic = False
if len(df_report) == 1 and len(df_user) ==2:
    cprint("THIS CAN BE AUTOMATIC", 'red', attrs=['bold'], file=sys.stderr)
    automatic = True
    tofix_report_id = df_report.loc[0]['report_id']
    tofix_user_id = df_user.loc[0]['user_id']

## Run code change owner of report

In [ ]:
#Fix report with user_id
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

if automatic == True:
    TEXT = "UPDATE tb_report SET user_id = "+ str(tofix_user_id) + " WHERE report_id = "+ str(tofix_report_id)
    TEXT
    mycursor.execute(TEXT)
    connection.commit()
else:
    print("Report to FIX? (!seperate by comma)")
    report_to_fix = input()
    report_to_fix = report_to_fix.split(',')
    print("User ID?")
    userid = input()
    userid=userid.strip()

    for x in report_to_fix:
        x=x.strip()
        #TEXT = "UPDATE tb_report SET active = 0 WHERE tb_report.report_id = " + str(x)
        TEXT = "UPDATE tb_report SET user_id = "+ userid + " WHERE report_id = "+ str(x)
        TEXT
        mycursor.execute(TEXT)
        connection.commit()

### To find report by fullname

In [ ]:
#  OR  # To find report by fullname 
y = "Sirirat" # Firstname
x = "Hin" # lastname

In [ ]:
#Code to Find report by full facebook name

# x = "Pakornlam"  # facebook user's lastname to find

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * from tb_user WHERE tb_user.last_name = '" + x +"' AND tb_user.first_name = '" + y +"' ORDER BY create_date DESC "
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df_user=pd.DataFrame(result, columns=field_names)
print("\nUSER INFORMATION")
df_user

#LASTNAME
TEXT = "SELECT tb_report.report_id, tb_report.active, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_user.last_name = '" + x +"' AND tb_user.first_name = '" + y +"' "

#FIRSTNAME
# TEXT = "SELECT tb_report.report_id, tb_user.user_id, tb_user.username, tb_user.facebook_id, tb_user.first_name, tb_user.last_name, tb_user.email, tb_user.phone_number, tb_report.first_name, tb_report.last_name FROM tb_report JOIN tb_user ON tb_report.user_id = tb_user.user_id WHERE tb_user.first_name LIKE '%" + x +"%'"
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df_report=pd.DataFrame(result, columns=field_names)
print("REPORT INFORMATION")
df_report
df_report['report_id'].tolist()

# Check whether can automate
automatic = False
if len(df_report) == 1 and len(df_user) ==2:
    cprint("THIS CAN BE AUTOMATIC", 'red', attrs=['bold'], file=sys.stderr)
    automatic = True
    tofix_report_id = df_report.loc[0]['report_id']
    tofix_user_id = df_user.loc[0]['user_id']

## Find all report by bank account

In [ ]:
x = "014000000562934"  # Bank A/C

In [ ]:
#CODE
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#Lastname
TEXT = "SELECT tb_report.report_id,tb_report.active, tb_report.first_name, tb_report.last_name, tb_report_bank.bank_number FROM tb_report JOIN tb_report_bank ON tb_report.report_id = tb_report_bank.report_id WHERE tb_report_bank.bank_number = "+ str(x)

mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df=pd.DataFrame(result, columns=field_names)
# df_user.columns = ['report_id', 'user_id', 'username', 'facebook_id', 'first_name','last_name', 'email', 'phone_number', 'S_first_name', 'S_last_name']
# df_user['seller name'] = df_user.iloc[:,-2] + " " + df_user.iloc[:,-1]
# df_user.drop(['S_first_name','S_last_name'], axis=1, inplace = True)
df

In [ ]:
# BEWARE : Correct seller name and detail based on report_id
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

for x in df['report_id']:
    TEXT = "UPDATE tb_report SET first_name = '‡∏≠‡∏ä‡∏¥‡∏£‡∏ç‡∏≤‡∏ì‡πå' ,last_name = '‡∏â‡πà‡∏≥‡∏ä‡πâ‡∏≤‡∏á' WHERE tb_report.report_id = " + str(x)
    TEXT
    mycursor.execute(TEXT)
    connection.commit()
    
    
    TEXT2 = "UPDATE tb_report SET detail_text = CONCAT(' ‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®!! ‡∏õ‡∏£‡∏∞‡∏™‡∏≤‡∏ô‡∏á‡∏≤‡∏ô‡∏Å‡∏±‡∏ö‡∏ï‡∏≥‡∏£‡∏ß‡∏à‡πÅ‡∏•‡∏∞‡∏û‡∏ö‡∏ö‡∏∏‡∏Ñ‡∏Ñ‡∏•‡πÇ‡∏Å‡∏á‡∏ï‡∏±‡∏ß‡∏à‡∏£‡∏¥‡∏á‡πÅ‡∏•‡πâ‡∏ß ‡∏ä‡∏∑‡πà‡∏≠ ‡∏ô.‡∏™.‡∏≠‡∏ä‡∏¥‡∏£‡∏ç‡∏≤‡∏ì‡πå ‡∏â‡πà‡∏≥‡∏ä‡πâ‡∏≤‡∏á ‡∏¢‡∏±‡∏á‡πÄ‡∏õ‡πá‡∏ô‡πÄ‡∏î‡πá‡∏Å‡∏ô‡∏±‡∏Å‡πÄ‡∏£‡∏µ‡∏¢‡∏ô‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó ‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏ö‡∏ä‡∏™‡πà‡∏ß‡∏ô‡∏ï‡∏±‡∏ß‡∏Ñ‡∏∑‡∏≠ SCB ‡πÄ‡∏•‡∏Ç 6152323952 ‡∏™‡∏≤‡∏Ç‡∏≤‡∏ä‡∏±‡∏¢‡∏ô‡∏≤‡∏ó ‡πÄ‡∏ö‡∏≠‡∏£‡πå‡πÇ‡∏ó‡∏£ 0902920410 ‡πÅ‡∏•‡∏∞‡∏ó‡∏µ‡πà‡∏ú‡πà‡∏≤‡∏ô‡∏°‡∏≤‡πÑ‡∏î‡πâ‡πÅ‡∏≠‡∏ö‡∏≠‡πâ‡∏≤‡∏á‡∏Ñ‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏õ‡∏ß‡∏µ‡∏ì‡∏≤ ‡πÉ‡∏´‡πâ‡∏ï‡∏Å‡πÄ‡∏õ‡πá‡∏ô‡πÅ‡∏û‡∏∞‡∏£‡∏±‡∏ö‡∏ö‡∏≤‡∏õ‡πÅ‡∏ó‡∏ô ‡∏ï‡∏≠‡∏ô‡∏ô‡∏µ‡πâ‡∏™‡∏≤‡∏ß‡∏ñ‡∏∂‡∏á‡∏ï‡∏±‡∏ß‡∏Ñ‡∏ô‡πÇ‡∏Å‡∏á‡∏ï‡∏±‡∏ß‡∏à‡∏£‡∏¥‡∏á‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢   | ', detail_text) WHERE tb_report.report_id = " + str(x)
    TEXT2
    mycursor.execute(TEXT2)
    connection.commit()

##  ‚ùå Set report_active = 0

In [ ]:
#  13091,13052,12827    ‡∏°‡∏µ‡πÉ‡∏ö‡∏ñ‡∏≠‡∏ô‡πÅ‡∏à‡πâ‡∏á‡∏Ñ‡∏ß‡∏≤‡∏° clear with customer

In [15]:
#set active=0  [input each report]
to_disable = ""
print("Report_ID to set active = 0 , input each report")
to_disable = input()
print("Special reason to delete?")
reason = ""
reason = input() 

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "UPDATE `tb_report` SET `active` = '0' WHERE `tb_report`.`report_id` = " + str(to_disable)

print(TEXT)
mycursor.execute(TEXT)
connection.commit()

TEXT = "UPDATE tb_report SET detail_text = CONCAT(' "+ reason + " | ', detail_text) WHERE tb_report.report_id = " + str(to_disable) +";"
TEXT
mycursor.execute(TEXT)
connection.commit()

Report_ID to set active = 0 , input each report
12827
Special reason to delete?
 ‡∏°‡∏µ‡πÉ‡∏ö‡∏ñ‡∏≠‡∏ô‡πÅ‡∏à‡πâ‡∏á‡∏Ñ‡∏ß‡∏≤‡∏° clear with customer
UPDATE `tb_report` SET `active` = '0' WHERE `tb_report`.`report_id` = 12827

"UPDATE tb_report SET detail_text = CONCAT('  ‡∏°‡∏µ‡πÉ‡∏ö‡∏ñ‡∏≠‡∏ô‡πÅ‡∏à‡πâ‡∏á‡∏Ñ‡∏ß‡∏≤‡∏° clear with customer | ', detail_text) WHERE tb_report.report_id = 12827;"

##  ‚úÖ  Set report_active = 1

In [ ]:
#set active=1  [input each report]
to_enable = ""
print("Report_ID to set active = 1 , input each report")
to_enable = input() 

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "UPDATE `tb_report` SET `active` = '1' WHERE `tb_report`.`report_id` = " + str(to_enable)

print(TEXT)
print("https://blacklistseller.com/report/report_preview/" + str(to_enable))
mycursor.execute(TEXT)
connection.commit()

## To display specific report pic details

In [ ]:
to_display = 29320   #

In [ ]:
#Display Specific report pics

#display name
response = requests.get("https://www.blacklistseller.com/report/report_preview/" + str(to_display))
soup = BeautifulSoup(response.text, 'html.parser')
linetoscreen = str(soup.findAll('a')[5])
name = linetoscreen.split("</a>")[0].split('>')[1]
name

list_of_report = file[(file['report_id'] == to_display) & (file['report_item_active'] == 1)]['report_item_filename'].values.tolist()
print(f'Number of picture: {len(list_of_report)}')
link=[]
for x in list_of_report:
    url = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + x
    link.append(url)

split_by = round(len(link)/3)
link1 = link[0:split_by]
link2 = link[split_by:split_by*2]
link3 = link[split_by*2:]
sum_link = []
sum_link.append(link1)
sum_link.append(link2)
sum_link.append(link3)

for y in sum_link:    
    x_offset = 0
    new_im = Image.new('RGB', (width*len(y),height))
    for x in y:
        response = requests.get(x)

        #img = Image.open(BytesIO(response.content))
        #img = img.resize( (width , height), resample=0)
        try:
            img = Image.open(BytesIO(response.content))
        except IOError:
            #print '%s could not be opened' % imagepath
            print("Could not opened")

        img = img.resize( (width , height), resample=0)

        new_im.paste(img, (x_offset,0))
        x_offset += width
    new_im

## DELETE [db] dup files in tb_report_item

In [ ]:
#find dup file in database and remove (from database)

# NEED TO FILTER FILE THAT IS A RECEIPT OUT
connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#duplicatefile = file[file.duplicated(['report_item_filename'])]
duplicatefile = file[file['report_item_filename'].duplicated(keep = 'last')]

# bool_series = data["First Name"].duplicated(keep = False) 

print("Number of duplicate list :" + str(duplicatefile.shape[0]))

report_item_id_todel = duplicatefile['report_item_id'].values.tolist()

duplicatefile.tail()
report_item_id_todel = report_item_id_todel[-5:]

#remove report_item in database
for x in report_item_id_todel:
    TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_item_id = " + str(x)
    TEXT
#     mycursor.execute(TEXT)
#     connection.commit()

In [ ]:
# file['report_item_filename'].duplicated()
duplicatefile = file[file.duplicated(['report_item_filename'])]
duplicatefile.shape
duplicatefile
# duplicateDFRow = dfObj[dfObj.duplicated(['Name'])]
# print(duplicateDFRow)

dupfile_to_del = duplicatefile['report_item_filename'].values.tolist()

connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#delete files    
for x in dupfile_to_del:    
#     print("ftp.delete('" + x + "')")            
#     try:
#         ftp.delete(x)
#     except error_perm:
#         print("!!  file already deleted")
       
    #SQL command to del file in db
    # # NEED NEW CODING        TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_id = " + str(x)
    TEXT
    mycursor.execute(TEXT)
    connection.commit()    

    
# SQL = "" #SQL code to delete dupfile  (NEED FIX)
# for x in to_delete:
#     TEXT = "UPDATE tb_report SET active = 0 WHERE tb_report.report_id = " + str(x)
#     TEXT
#     mycursor.execute(TEXT)
#     connection.commit()

#     #Delete db record
#     TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_id = " + str(x)
#     TEXT
#     mycursor.execute(TEXT)
#     connection.commit()

## Delete bank a/c where active = 0

In [ ]:
# Execute command to delete inactive bank a/c
connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "DELETE FROM tb_report_bank WHERE report_bank_active = 0"
TEXT
mycursor.execute(TEXT)
connection.commit()

In [ ]:
#Check and export tb_report_bank as backup

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * from tb_report_bank"
TEXT
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
tb_report_bank = pd.DataFrame(result, columns=field_names)
tb_report_bank.shape
tb_report_bank.sample(20)

#tb_report_bank.to_excel("tb_report_bank.xls")

## ‚ùåDELETE report pics + db

In [22]:
#PREPARE TB_REPORT for deleting report pics + db
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id','first_name','last_name','idcard']]
df['fullname'] = df['first_name']+ " " + df['last_name']

#Create df_count with 4 freq
df_count=pd.DataFrame(df['fullname'].value_counts()>=4)
df_count= df_count[df_count['fullname'] == True]
df_count.reset_index(inplace = True)
df_count.drop('fullname', axis=1, inplace = True)
df_count.rename(columns={'index':'fullname'}, inplace=True )

In [25]:
#DELETE report pics & db
connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

to_delete = ""
reason = ""
name=""
override = ""

print("Report ID: (delimiter with space)")
to_delete = input()
to_delete = to_delete.split()
print("‡∏•‡∏ö‡∏î‡πâ‡∏ß‡∏¢‡πÄ‡∏´‡∏ï‡∏∏‡∏ú‡∏•‡∏û‡∏¥‡πÄ‡∏®‡∏©?")
reason = input()

print("Type anything to override freq name check? ")
override = input()

#Check freq of fullname and remove if feq name in report already
report_tonot_delete = []

if override == "":    
    for x in to_delete:
        name = df[df['report_id']==int(x)].iloc[0,4]
        if name in df_count.values:
            to_delete.remove(x)
            report_tonot_delete.append(x)            
        
print(f'Report that will not deleted due to multiple report already:--> {report_tonot_delete}')
print("\n")
print("List of report_id to delete " + str(to_delete))
print("\n")
print("=========================")

df_prepare_to_del = file[(file['report_id'].isin(to_delete))]
file_to_del = df_prepare_to_del['report_item_filename'].values.tolist()
    
#delete files    
for x in file_to_del:    
    print("ftp.delete('" + x + "')")            
    try:
        ftp.delete(x)
    except error_perm:
        print("!!  file already deleted")
    
SQL = "" #SQL code to delete report
for x in to_delete:
    TEXT = "UPDATE tb_report SET active = 0 WHERE tb_report.report_id = " + str(x)
    TEXT
    mycursor.execute(TEXT)
    connection.commit()

    #Delete db record
    TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_id = " + str(x)
    TEXT
    mycursor.execute(TEXT)
    connection.commit()
    
    #Add detail text
    if reason == "":
        TEXT = "UPDATE tb_report SET detail_text = CONCAT(' !‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡∏ñ‡∏π‡∏Å‡∏•‡∏ö‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÑ‡∏°‡πà‡πÄ‡∏û‡∏µ‡∏¢‡∏á‡∏û‡∏≠! | ', detail_text) WHERE `tb_report`.`report_id` = " + str(x) +";"
        TEXT
        mycursor.execute(TEXT)
        connection.commit()
    else:
        TEXT = "UPDATE tb_report SET detail_text = CONCAT(' "+ str(reason)+ " | ', detail_text) WHERE `tb_report`.`report_id` = " + str(x) +";"
        TEXT
        mycursor.execute(TEXT)
        connection.commit()            
        
alldone()

Report ID: (delimiter with space)
 32636  32637
‡∏•‡∏ö‡∏î‡πâ‡∏ß‡∏¢‡πÄ‡∏´‡∏ï‡∏∏‡∏ú‡∏•‡∏û‡∏¥‡πÄ‡∏®‡∏©?
duplicate report
Type anything to override freq name check?
d
Report that will not deleted due to multiple report already:--> []


List of report_id to delete ['32636', '32637']


=========================
ftp.delete('[32636]_inbound7752608312937997486.jpg')

'250 Deleted [32636]_inbound7752608312937997486.jpg'

ftp.delete('[32636]_inbound7096309856478527540.jpg')

'250 Deleted [32636]_inbound7096309856478527540.jpg'

ftp.delete('[32636]_inbound3199611230312922532.jpg')

'250 Deleted [32636]_inbound3199611230312922532.jpg'

ftp.delete('[32636]_inbound417253871393182753.jpg')

'250 Deleted [32636]_inbound417253871393182753.jpg'

ftp.delete('[32636]_inbound751355518298102864.jpg')

'250 Deleted [32636]_inbound751355518298102864.jpg'

ftp.delete('[32636]_inbound593777706710105579.jpg')

'250 Deleted [32636]_inbound593777706710105579.jpg'

ftp.delete('[32636]_inbound476766689627419256.jpg')

'250 Deleted [32636]_inbound476766689627419256.jpg'

ftp.delete('[32637]_inbound7752608312937997486.jpg')

'250 Deleted [32637]_inbound7752608312937997486.jpg'

ftp.delete('[32637]_inbound7096309856478527540.jpg')

'250 Deleted [32637]_inbound7096309856478527540.jpg'

ftp.delete('[32637]_inbound3199611230312922532.jpg')

'250 Deleted [32637]_inbound3199611230312922532.jpg'

ftp.delete('[32637]_inbound417253871393182753.jpg')

'250 Deleted [32637]_inbound417253871393182753.jpg'

ftp.delete('[32637]_inbound751355518298102864.jpg')

'250 Deleted [32637]_inbound751355518298102864.jpg'

ftp.delete('[32637]_inbound593777706710105579.jpg')

'250 Deleted [32637]_inbound593777706710105579.jpg'

ftp.delete('[32637]_inbound476766689627419256.jpg')

'250 Deleted [32637]_inbound476766689627419256.jpg'

'UPDATE tb_report SET active = 0 WHERE tb_report.report_id = 32636'

'DELETE FROM tb_report_item WHERE tb_report_item.report_id = 32636'

"UPDATE tb_report SET detail_text = CONCAT(' duplicate report | ', detail_text) WHERE `tb_report`.`report_id` = 32636;"

'UPDATE tb_report SET active = 0 WHERE tb_report.report_id = 32637'

'DELETE FROM tb_report_item WHERE tb_report_item.report_id = 32637'

"UPDATE tb_report SET detail_text = CONCAT(' duplicate report | ', detail_text) WHERE `tb_report`.`report_id` = 32637;"

## DELETE specific pic by filename

In [ ]:
#input file URL link
print("URL Link?")
url_link = input()
to_delete = url_link.split("/")[6]
to_delete

In [ ]:
#Delete specific file name

connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#to_delete = input()

try:
    ftp.delete(to_delete)
except error_perm:
    print("!!  file already deleted")
    
TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_item_filename = '" + to_delete +"'"
TEXT
mycursor.execute(TEXT)
connection.commit()

URL = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + to_delete + "\n"
print("-------------------------------------------------------------")
print(URL)

In [ ]:
#Delete specific file name  (previous code that need to specify filename)
to_delete = "[28366]_B563641E-225B-49B5-B613-604D81DE05CE.png"

connect_ftp()
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#to_delete = input()

try:
    ftp.delete(to_delete)
except error_perm:
    print("!!  file already deleted")
    
TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_item_filename = '" + to_delete +"'"
TEXT
mycursor.execute(TEXT)
connection.commit()

URL = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + to_delete + "\n"
print("Purge with this link: https://dash.cloudflare.com/c81feeb849b00238ef4140da5642bbbd/blacklistseller.com/caching\n")
print(URL)
print("https://www.blacklistseller.com/report/report_preview/" + str(x[1:6]))

## Fuzzywuzzy : Finding wrong name

In [ ]:
#clean report for fuzzywuzzy
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

df = tb_report[['report_id','first_name','last_name','idcard']]
df['fullname'] = df['first_name']+ " " + df['last_name']

### Fuzzywuzzy : detect wrong name

In [ ]:
#Prepare df for Fuzzywuzzy
from fuzzywuzzy import fuzz
df_master=df['fullname'].value_counts()
df_master = df_master[df_master >= 3]
df_master.tail()
df_master = pd.DataFrame(df_master)
df_master.rename({'fullname':'count'}, inplace=True )
df_master['fullname'] = df_master.index
df_master.reset_index(level=0, inplace=True)
df_master.drop('index', axis=1, inplace = True)
df_to_clean = df[~df.fullname.isin(df_master.fullname)]
print('List of Master name : ', df_master.shape[0])
print('Df to be cleaned : ',df_to_clean.shape[0])

### Start using Fuzzy

In [ ]:
#Start executing Fuzzywuzzy
start_time = time.time()
i=1
SQL = ""
SQL_to_txt = ""
explain=""
for index, row in df_to_clean.iterrows():
    for y in df_master['fullname']:
        score = fuzz.ratio(row['fullname'],y)
        if ( score >= 85) and ( score != 100):
            name = y.split()
            TEXT = "UPDATE tb_report SET first_name ='"+name[0]+"',"+"last_name = '"+name[1]+"'"+" WHERE tb_report.report_id = "+str(row['report_id'])+";!"
            TEXT
            SQL=SQL+TEXT
            print(i, "Report ID :", row['report_id']," |  Score:",score,"  \n‡∏ú‡∏¥‡∏î --> ",row['fullname'],"  \n‡∏ñ‡∏π‡∏Å --> ",y,"\n")
            explain = "# "+str(i)+ " Report ID : "+ str(row['report_id'])+" | Score:"+str(score) + "  ‡∏ú‡∏¥‡∏î --> " + str(row['fullname'])+"|  ‡∏ñ‡∏π‡∏Å --> " + str(y) +" \n\n"                    
            SQL_to_txt = SQL_to_txt + TEXT + explain
            i+=1
            
alldone()
print(round((time.time() - start_time)/60,2), " minutes running time")

In [ ]:
%%capture
#Write Fuzzy Result  to textfile
d = datetime.datetime.today().strftime("%d-%B-%Y")
sql_changename_filename = "sql_changename-" + str(d) + ".txt"
sql_changename_filename

SQL_list = SQL_to_txt.split('!')
text_file = open(sql_changename_filename, encoding="utf-8", mode="w")
for x in SQL_list:
    text_file.write(x + "\n")
#text_file.write(SQL)
text_file.close()

### Execute SQL command to fix wrong name

In [ ]:
# #Without Confirmation!!   (under coding fix)
# connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
# mycursor = connection.cursor()

# SQL_list = SQL.split('!')
# #SQL_list
# for x in SQL_list:
#     x
#     mycursor.execute(x)
#     connection.commit()

In [ ]:
#With Confimration [ DO NOT RUN ]

# connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
# mycursor = connection.cursor()

# SQL_list = SQL.split('!')
# #SQL_list
# for x in SQL_list:
#     cancel = ""
#     x
#     print("enter to exec / key anything to cancel :")
#     cancel = input()
#     if cancel == "":    
#         mycursor.execute(x)
#         connection.commit()
#     else:
#         print('Skip replacing name')

## üíª Filling missing idcard

In [ ]:
# Prepare tb_report and clean
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

df = tb_report[['report_id','first_name','last_name','idcard']]
df['fullname'] = df['first_name']+ " " + df['last_name']

df_master=df['idcard'].value_counts()
df_master = df_master[df_master >= 3]
df_master.tail()
print("Total unique in master file =",len(df_master))
df_master = pd.DataFrame(df_master,index=None)

df_master['idcard1'] = df_master.index
df_master['count'] = df_master['idcard']
df_master.drop('idcard', axis=1, inplace = True)
df_master.reset_index(level=0, inplace=True)
df_master.drop('index', axis=1, inplace = True)
df_master.rename(columns={'idcard1':'idcard'}, inplace=True )
df_master = pd.merge(df_master, df, left_on='idcard', right_on='idcard', how = 'left')
df_master = df_master[['idcard','count','fullname']]
df_master.drop_duplicates(subset ="idcard", keep = 'first', inplace = True) 

df_master=df_master.drop(df_master.index[0])  #drop null idcard in master file
df_master.head()

print(color.bold + "Check incorrect idcard from master db\n"+color.end)

# for x in df_master.idcard:
#     if checkPID(x) == False:
#         x
    
for index, row in df_master.iterrows():
    if checkPID(row.idcard) == False:
        print(f'National id: {row.idcard} | Name: {row.fullname}')        
        #print(f'Report id:{index} | National id: {row.idcard} | Name: {row.fullname}')        
print(color.cyan + '\nFinished !' + color.end)

df_to_clean = df[~df['idcard'].isin(df_master['idcard'])]
#df_to_clean['id_card'].sort_values().head(100)
print(f'Total in df: {df.shape[0]}')
print(f'Total in master file: {df_master.shape[0]}')
print(f'Total in df_to_clean: {df_to_clean.shape[0]}')
df_to_clean.drop('idcard', axis=1, inplace = True)

df_filled = pd.merge(df_to_clean, df_master,on='fullname', how='inner')
print(f'Total to be fixed: {df_filled.shape[0]}')
df_filled['idcard']=df_filled['idcard'].astype('uint64')

# checkPID(str(1102000866732))

# Check & Prepare idcard matching

i=0
TEXT=""
SQL=""
for index, row in df_filled.iterrows():   
    TEXT = "UPDATE tb_report SET idcard = " + str(row['idcard']) + " WHERE tb_report.report_id = "+ str(row['report_id']) +";#"
    SQL+=str(TEXT)
    
SQL_list = SQL.split('#')
print(f'Number of report to fix idcard : {len(SQL_list)}')
SQL_list

### Execute command to fix id card

In [ ]:
#Execute command
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()
for x in SQL_list:
    mycursor.execute(x)
    x
    connection.commit()

### Find duplicate bank A/C & delete duplicate bank A/C

In [ ]:
#Find duplicate bank A/C & delete duplicate bank A/C
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()
# Delete inactive report_bank
mycursor.execute("DELETE FROM tb_report_bank WHERE report_bank_active = 0")
# Fetch table
mycursor.execute("SELECT * FROM tb_report_bank")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report_bank = pd.DataFrame(result, columns=field_names)
#tb_report_bank.head()
print("Display duplicate row")
dup = tb_report_bank[tb_report_bank.duplicated(subset=['bank_id','bank_number','report_id','report_bank_active'])]
#dup = tb_report_bank[tb_report_bank.duplicated(subset=['bank_number','report_id','report_bank_active'])]
dup.shape[0]
dup

#Execute command to delete duplicate bank A/C
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = ""
for index, row in dup.iterrows():
    TEXT = "DELETE FROM tb_report_bank WHERE report_bank_id = " + str(row['report_bank_id'])
    TEXT
    mycursor.execute(TEXT)
    connection.commit()

### FIX \u200b, ‡πÅ

In [ ]:
#PREPARE TB_REPORT
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id','first_name','last_name','idcard','product', 'price', 'website', 'detail_text', 'date', 'active']]
df['fullname'] = df['first_name']+ " " + df['last_name']
df = df[['report_id','first_name','last_name','fullname','idcard','product','price','detail_text','website','date','active']]
df = df.set_index(['report_id'])

In [ ]:
#Prepare multiple df filtering ‡πÅ and \u200b
df1 = df[df['first_name'].str.contains("\u200b")]
df1['first_name'] =df1['first_name'].str.replace('\u200b', '')

df2 = df[df['last_name'].str.contains("\u200b")]
df2['last_name'] =df2['last_name'].str.replace('\u200b', '')

print("FIX u200b")
print("First name to fix : " + str(len(df1))+"  |  Last name to fix : " + str(len(df2)))

#Prepare to fix ‡πÅ ‡πÄ ‡πÄ 
df11 = df[df['first_name'].str.contains("‡πÄ‡πÄ")]
df11['first_name'] =df11['first_name'].str.replace('‡πÄ‡πÄ', '‡πÅ')

df22 = df[df['last_name'].str.contains("‡πÄ‡πÄ")]
df22['last_name'] =df22['last_name'].str.replace('‡πÄ‡πÄ', '‡πÅ')

print("\nFIX ‡πÅ")
print("First name to fix : " + str(len(df11))+"  |  Last name to fix : " + str(len(df22)))

In [ ]:
#Execute command to remove \u200b
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

print("Start fixing u200b")
#Fix firstname \u200b
for index, row in df1.iterrows():  
    
    x = "UPDATE tb_report SET first_name ='"+ str(row['first_name']) + "' WHERE tb_report.report_id = "+ str(index)
    x
    mycursor.execute(x)
    connection.commit()

#Fix lastname \u200b
for index, row in df2.iterrows():  
    
    x = "UPDATE tb_report SET last_name ='"+ str(row['last_name']) + "' WHERE tb_report.report_id = "+ str(index)
    x
    mycursor.execute(x)
    connection.commit()    

print("Start fixing ‡πÅ\n")
#Fix firstname ‡πÅ
for index, row in df11.iterrows():  
    
    x = "UPDATE tb_report SET first_name ='"+ str(row['first_name']) + "' WHERE tb_report.report_id = "+ str(index)
    x
    mycursor.execute(x)
    connection.commit()

#Fix lastname ‡πÅ
for index, row in df22.iterrows():  
    
    x = "UPDATE tb_report SET last_name ='"+ str(row['last_name']) + "' WHERE tb_report.report_id = "+ str(index)
    x
    mycursor.execute(x)
    connection.commit()

### Filter report  by product

In [ ]:
#PREPARE TB_REPORT
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id','first_name','last_name','idcard','product', 'price', 'website', 'detail_text', 'date', 'active']]
df['fullname'] = df['first_name']+ " " + df['last_name']
df = df[['report_id','first_name','last_name','fullname','idcard','product','price','detail_text','website','date','active']]
df = df.set_index(['report_id'])

In [ ]:
# filter_df = df[(df['product'].str.contains('‡∏´‡∏ô‡πâ‡∏≤‡∏Å‡∏≤‡∏Å')) | (df['product'].str.contains('mask')) |
#                (df['product'].str.contains('‡πÅ‡∏°‡∏™')) | (df['product'].str.contains('‡∏ú‡πâ‡∏≤‡∏õ‡∏¥‡∏î‡∏à‡∏°‡∏π‡∏Å')) | 
#                (df['product'].str.contains('‡∏ú‡πâ‡∏≤‡∏õ‡∏¥‡∏î‡∏õ‡∏≤‡∏Å')) | (df['product'].str.contains('N95'))   ]

filter_df = df[(df['product'].str.contains('‡∏ó‡∏µ‡πà‡∏ô‡∏≠‡∏ô')) | (df['product'].str.contains('‡∏¢‡∏≤‡∏á‡∏û‡∏≤‡∏£‡∏≤'))  ]

filter_df = filter_df.drop_duplicates('detail_text')
filter_df.shape[0]
filter_df = filter_df.groupby('fullname').count().sort_values(by='active', ascending = False)
filter_df.iloc[0:15]
# filter_df.iloc[15:30]

### Find mismatch by bank number  (need to delete duplicate bank first)

In [ ]:
# Prepare tb_report
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

df = tb_report[['report_id','first_name','last_name','idcard']]
df['fullname'] = df['first_name']+ " " + df['last_name']

In [ ]:
#Develop code to find duplicate bank account with different name

df['idcard'].replace("", np.nan, inplace=True)
df.dropna(inplace=True)
#grouped_df = df.groupby('idcard')

#for key, item in grouped_df:
    #print(grouped_df.get_group(key), "\n\n")
    #print("==========================")

def handler(df):
    for col in ['idcard', 'fullname']:
        if df.loc[:, col].nunique() > 1:
            return 'error in {} for id {}'.format(col, df.index[0])
#     else:
#         return 'pass'
result = df.groupby('idcard',level=0).apply(handler)
#result = df.groupby('idcard',level=0)
result

## Download pictures

In [ ]:
#Download pictures (split by space)
connect_ftp()
id_to_download = ""
id_to_download = input()
id_to_download = id_to_download.split()

df_file_to_download = file[(file['report_id'].isin(id_to_download))]
file_to_download = df_file_to_download['report_item_filename'].values.tolist()

for x in file_to_download: 
    localfile = open(x, 'wb')
    ftp.retrbinary('RETR ' + x, localfile.write, 1024)
    #ftp.quit()
    localfile.close()
    
# import subprocess
# subprocess.Popen(r'explorer /select,"D:\!DATA\Dropbox\!!Sync Goodreader\Big Data\Python Project files\bls\SQL_connect"')

## Upload pictures

In [ ]:
#upload pictures
connect_ftp()
URL = "" 
for x in file_to_download:
    fp = open(x, 'rb')
    ftp.storbinary('STOR %s' % os.path.basename(x), fp, 1024)
    x
    URL = URL + "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + x + "\n"
    fp.close()

print("Purge with this link: https://dash.cloudflare.com/c81feeb849b00238ef4140da5642bbbd/blacklistseller.com/caching\n")
print(URL)
print("https://www.blacklistseller.com/report/report_preview/" + str(x[1:6]))

## Investigate case üïµ‚Äç

In [28]:
keyword = "fomennl_shop"

In [29]:
#CODE
TEXT = "SELECT * FROM tb_report where detail_text like '%"+keyword+"%' OR website like '%"+keyword+"%' order by report_id desc"

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()
mycursor.execute(TEXT)
result = mycursor.fetchall()

field_names = [i[0] for i in mycursor.description]

df = pd.DataFrame(result, columns=field_names)
df['fullname'] = df['first_name']+ " " + df['last_name']
df.drop(['first_name','last_name'], axis=1, inplace = True)
df = df[['report_id','fullname', 'detail_text', 'website', 'product']]
qgrid.show_grid(df,grid_options={'fullWidthRows': True,'syncColumnCellResize': True,
                                 'forceFitColumns': True,'rowHeight': 25,'enableColumnReorder': True,
                                 'enableTextSelectionOnCells': True,'editable': True})

listname = df['fullname'].tolist()
listname = list(set(listname))
print(listname)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau‚Ä¶

['fomennl_shop fomennl_shop']

In [30]:
# Code for announcement

print("#" + str(listname)[1:-1] +"  |  " + str(keyword))
print("if(in_array($fullname, array(" +str(listname)[1:-1]+"))){")
print("?><hr /><?php")
print("echo \"<b> <p align='center'>  <font color=red font face='arial' size='3pt'> \" . \" ‡∏£‡πâ‡∏≤‡∏ô‡πÉ‡∏ä‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏ö‡∏ä‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏£‡∏±‡∏ö‡πÄ‡∏á‡∏¥‡∏ô : "+ str(listname)[1:-1] + "\".\"</font>\". \"</p>\". \"</b>\";")
print("echo \"<b> <p align='center'>  <font color=red font face='arial' size='3pt'> \" . \" ‡∏£‡πâ‡∏≤‡∏ô " + str(keyword) +" \".\"</font>\". \"</p>\". \"</b>\";")
print("}")

#'fomennl_shop fomennl_shop'  |  fomennl_shop
if(in_array($fullname, array('fomennl_shop fomennl_shop'))){
?><hr /><?php
echo "<b> <p align='center'>  <font color=red font face='arial' size='3pt'> " . " ‡∏£‡πâ‡∏≤‡∏ô‡πÉ‡∏ä‡πâ‡∏´‡∏•‡∏≤‡∏¢‡∏ö‡∏ä‡πÉ‡∏ô‡∏Å‡∏≤‡∏£‡∏£‡∏±‡∏ö‡πÄ‡∏á‡∏¥‡∏ô : 'fomennl_shop fomennl_shop'"."</font>". "</p>". "</b>";
echo "<b> <p align='center'>  <font color=red font face='arial' size='3pt'> " . " ‡∏£‡πâ‡∏≤‡∏ô fomennl_shop "."</font>". "</p>". "</b>";
}

## Display most freq name in 30 days

In [ ]:
# -*- coding: utf-8 -*-
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()
TEXT = "SELECT count(*) AS Freq, first_name,last_name FROM tb_report where report_id IN (SELECT report_id FROM `tb_report` WHERE create_date >= (CURRENT_TIMESTAMP()-INTERVAL 30 DAY)) GROUP by last_name order by count(*) DESC limit 10"
mycursor.execute(TEXT)
result = mycursor.fetchall()

#Get column name
field_names = [i[0] for i in mycursor.description]

df_freq = pd.DataFrame(result, columns=field_names) 
df_freq['fullname'] = df_freq['first_name']+ " " + df_freq['last_name']
df_freq.drop( df_freq[ df_freq['fullname'] == "‡πÑ‡∏°‡πà‡∏£‡∏π‡πâ ‡πÑ‡∏°‡πà‡∏£‡∏π‡πâ" ].index , inplace=True)
df_freq_list = df_freq['fullname'].tolist()
tb_report_freq = tb_report[tb_report['fullname'].isin(df_freq_list)] 

tb_report_freq = tb_report_freq.groupby('fullname').agg({'report_id':'count', 'price': 'sum'}).reset_index().rename(columns={'price':'‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°','report_id':'‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ú‡∏π‡πâ‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢'}).sort_values(by='‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ú‡∏π‡πâ‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢', ascending = False)
tb_report_freq['‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°']=tb_report_freq['‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°'].apply(lambda x : "{:,}".format(x))
_=tb_report_freq.set_index('fullname')


tb_report_freq_graph = tb_report_freq.copy()
tb_report_freq_graph.drop('‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°', axis=1, inplace = True)
tb_report_freq_graph.set_index('fullname',drop=True,inplace=True)
tb_report_freq_graph
fig = plt.figure(figsize=(10,6))
# plt.plot(tb_report_freq_graph['fullname'],tb_report_freq_graph['‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏™‡∏µ‡∏¢‡∏´‡∏≤‡∏¢‡∏£‡∏ß‡∏°'])

plt.plot(tb_report_freq_graph)
plt.xticks(rotation=90)

# import matplotlib.pyplot as plt
# fig = plt.figure()
# ax = fig.add_axes([0,0,1,1])
# langs = ['C', 'C++', 'Java', 'Python', 'PHP']
# students = [23,17,35,29,12]
# ax.bar(langs,students)
# plt.show()

## üì∑Resize picture

In [ ]:
#Check if file exist and del db report_item_active  (DO NOT RUN)
import urllib.request
inactive_file = file[file['report_item_active'] == 0]

def url_is_alive(url):
    """
    Checks that a given URL is reachable.
    :param url: A URL
    :rtype: bool
    """
    request = urllib.request.Request(url)
    request.get_method = lambda: 'HEAD'

    try:
        urllib.request.urlopen(request)
        return True
    except urllib.request.HTTPError:
        return False
    
for index, row in file_cut.iterrows():
    row['report_item_filename']
    url = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + row['report_item_filename']
    
    if url_is_alive(url) == False:  #if file not exist
        
        connect_ftp()
        close_connection()
        connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
        mycursor = connection.cursor()
        
        TEXT = "DELETE FROM tb_report_item WHERE tb_report_item.report_item_filename = '" + row['report_item_filename'] +"'"
        TEXT
        mycursor.execute(TEXT)
        connection.commit()

In [ ]:
#CODE resize picture
import cv2
import pythainlp
tmp1 = 0
#url = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + x

tmp = open("resize_pic_report_id.txt", 'r')
for line in tmp.readlines():
     resize_pic_report_id = line.rstrip().split(',') #using rstrip to remove the \n    
print(f"Lastest report that display : {resize_pic_report_id}")
file_cut = file[file['report_id'] > int(resize_pic_report_id[0])]

for index, row in file_cut.iterrows():
    url = "https://www.blacklistseller.com/assets/uploads/user_uploads_report/" + row['report_item_filename']

    #Then use row['xxx'] to perform and task

    filename = url.split("/")[6]
    
    #filter only jpg jpeg png
    filetype = ['jpg','jpeg','png']
    if filename.split(".")[1] in filetype:
        
        if row['report_id'] != tmp1:
            print("Report_id : " +str(row['report_id']))
        
        tmp1 = row['report_id']        
        
        text_file = open("resize_pic_report_id.txt", encoding="utf-8", mode="w")
        _=text_file.write(str(row['report_id']) + "\n")
        #text_file.write(SQL)
        text_file.close()

        #Check filesize   

#             #toBeTransferred = float(response.headers.get('content-length', len(response.content)))
#             #is_chunked = requests.headers.get('transfer-encoding', '') == 'chunked'
#             is_chunked = requests.get(url, stream=True).headers['transfer-encoding',''] == 'chunked'
#             #content_length_s = requests.headers.get('content-length')
#             content_length_s = int(float(requests.get(url, stream=True).headers['content-length'])/1000000)
#             if not is_chunked and content_length_s.isdigit():
#                 filesize = int(content_length_s)
#             else:
#                 filesize = 0

        #filesize = int(float(requests.get(url, stream=True).headers['Content-length'])/1000000
        #detect if filename is Thai
        
        #isalpha() 
        
        #filename.split(".")[0]
        #if filename.split(".")[0].split("_")[1].isalpha() == False:  # Proceed only if there's text in filename
            
        try:
            #detect(filename.split(".")[0])                     
            #if detect(filename.split(".")[0]) == "en":
            if pythainlp.util.countthai(filename.split(".")[0]) < 1: 
                filesize = int(float(requests.get(url, stream=True).headers['Content-length']))/1000000
                #response_code = requests.get(url, stream=True, headers={'Accept-Encoding': None})

                # percent of original size
                if filesize > 4:
                    scale_percent = 70
                    if filesize > 7:
                        scale_percent = 80            
                else:
                    scale_percent = 50

                if filesize > 2:
                    print("Item no : " + str(index) + " : " + str(url)) 
                    print("Filesize : "+ str(filesize) + " MB")

                    connect_ftp()
                    localfile = open(filename, 'wb')
                    ftp.retrbinary('RETR ' + filename, localfile.write, 1024)    
                    localfile.close()


                    #====== use openCV to resize image ======

                    img = cv2.imread(filename, cv2.IMREAD_UNCHANGED)

                    print('Original Dimensions : ',img.shape)


                    width = int(img.shape[1] * scale_percent / 100)
                    height = int(img.shape[0] * scale_percent / 100)
                    dim = (width, height)
                    # resize image
                    resized = cv2.resize(img, dim, interpolation = cv2.INTER_AREA)
                    cv2.imwrite(filename, resized) 

                    print('Scaled with : '+ str(scale_percent)+ '%  |  Resized Dimensions : ',resized.shape)

                    ## Code to display pic (error)    
                    # cv2.startWindowThread()
                    # cv2.imshow("Resized image", resized)
                    # cv2.waitKey(0)
                    # cv2.destroyAllWindows()

                    connect_ftp()
                    _=ftp.cwd('/public_html/assets/uploads/user_uploads_report')

                    fp = open(filename, 'rb')
                    ftp.storbinary('STOR %s' % os.path.basename(filename), fp, 1024)
                    fp.close()

                    os.remove(filename)
                    #os.remove(os.path.join(output_folder_path, input_file_name))

                    #ftp.storbinary('STOR ' + "xxx.jpg", resized)
                    #ftp.storbinary(filename, resized)
                    #ftp.storbinary('STOR %s' % os.path.basename("xx"), resized, 1024)

                    # for x in file_to_download:
                    #     fp = open(x, 'rb')
                    #     ftp.storbinary('STOR %s' % os.path.basename(x), fp, 1024)
                    #     x
                    #     fp.close()
                    print(".................................................")
        except:
            print(" ")

## Find True Wallet fake name

In [ ]:
close_connection()
    
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

#TEXT = "SELECT count(*),first_name,last_name FROM tb_report where report_id IN (SELECT report_id FROM `tb_report` WHERE create_date >= (CURRENT_TIMESTAMP()-60*60*24*2)) GROUP by last_name order by count(*) DESC limit 10"
TEXT = "SELECT tb_report_bank.bank_number,tb_report.first_name, tb_report.last_name, tb_report.report_id FROM tb_report JOIN tb_report_bank ON tb_report.report_id = tb_report_bank.report_id"
#	report_bank_id	bank_id	bank_number	report_id	report_bank_active
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df1=pd.DataFrame(result, columns=field_names)
df1['bank_number'] = df1['bank_number'].astype('str')
filter = df1['bank_number'].str.len() == 10
df1 = df1.loc[filter]
df1['fullname'] = df1['first_name']+ " " + df1['last_name']
df1.drop(['first_name','last_name'], axis=1, inplace = True)
df1 = df1.sort_values(by='bank_number', ascending = True)

pd.set_option('display.max_rows', None)

df1 = df1.set_index(['bank_number','fullname'])
df1 = df1.loc[~df1.index.duplicated(keep='first')]

df1 = df1.groupby(['bank_number','fullname']).size()
#df1 = df1.groupby(['bank_number']).agg({'fullname': np.size}).sort_values(by='fullname', ascending = False)
#df1 = df1.groupby('bank_number')

df1
# df1.groupby('bank_number')

In [ ]:
# with open("listofbankactive0.txt", "w") as output:
#     output.write(str(A))

In [ ]:
## TEMP SQL COMMAND
close_connection()
    
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT =""
mycursor.execute(TEXT)
result = mycursor.fetchall()

## Clean tb_report_bank

In [ ]:
close_connection()
    
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT tb_report_bank.report_bank_id, tb_report_bank.bank_number,tb_report.first_name, tb_report.last_name, tb_report.report_id, tb_report_bank.report_bank_active FROM tb_report JOIN tb_report_bank ON tb_report.report_id = tb_report_bank.report_id"
# report_bank_id bank_id bank_number report_id report_bank_active

mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
df1=pd.DataFrame(result, columns=field_names)
df1=df1.sort_values(by='bank_number', ascending = True)
#A = df1[df1['report_bank_active'] == 0]

#df1[df1['bank_number'].str.contains('\t')]
#df1.to_excel (r'D:\Data\Desktop\bank.xlsx', index = True, header=True)

## Cloudflare API

In [ ]:
import CloudFlare

def main():
    cf = CloudFlare.CloudFlare(email='pisarnwate@live.com', token='e201c0a41a58318fe93e79c29f265423533a2')
    zones = cf.zones.get()    
    for zone in zones:
        zone_id = zone['id']
        zone_name = zone['name']
        print(zone_id)
        print(zone_name)

main()

In [ ]:
import requests

headers = {
    'X-Auth-Email': 'pisarnwate@live.com',
    'X-Auth-Key': 'e201c0a41a58318fe93e79c29f265423533a2',
    'Content-Type': 'application/json',
}

data = '{"files":["http://www.blacklistseller.com/css/styles.css",{"url":"https://blacklistseller.com/assets/uploads/user_uploads_report/[29160]_Screenshot_20200423-201047.png","headers":{"Origin":"cloudflare.com","CF-IPCountry":"US","CF-Device-Type":"desktop"}}]}'

response = requests.post('https://api.cloudflare.com/client/v4/zones/c9bd0fb0936b6bf3f5e960919583a0e0/purge_cache', headers=headers, data=data)

response

# Curl command to purge cache

# curl -X POST "https://api.cloudflare.com/client/v4/zones/c9bd0fb0936b6bf3f5e960919583a0e0/purge_cache" \
#      -H "X-Auth-Email: pisarnwate@live.com" \
#      -H "X-Auth-Key: e201c0a41a58318fe93e79c29f265423533a2" \
#      -H "Content-Type: application/json" \
#      --data '{"files":["http://www.blacklistseller.com/css/styles.css",{"url":"https://blacklistseller.com/assets/uploads/user_uploads_report/[16740]_Screenshot_20200116-194046_Messenger.jpg","headers":{"Origin":"cloudflare.com","CF-IPCountry":"US","CF-Device-Type":"desktop"}}]}'

In [ ]:

#Curl command to purge cache

curl -X POST "https://api.cloudflare.com/client/v4/zones/c9bd0fb0936b6bf3f5e960919583a0e0/purge_cache" \
     -H "X-Auth-Email: pisarnwate@live.com" \
     -H "X-Auth-Key: e201c0a41a58318fe93e79c29f265423533a2" \
     -H "Content-Type: application/json" \
     --data '{"files":["http://www.blacklistseller.com/css/styles.css",{"url":"https://blacklistseller.com/assets/uploads/user_uploads_report/[16740]_Screenshot_20200116-194046_Messenger.jpg","headers":{"Origin":"cloudflare.com","CF-IPCountry":"US","CF-Device-Type":"desktop"}}]}'

## Graph Creating a report

In [ ]:
#Graph Creating a report
#tb_report[['create_date']]
tb_report['date'] = pd.to_datetime(tb_report['create_date'], format='%d-%m-%Y').dt.date

fig = plt.figure(figsize=(10,6))
plt.title('Daily Created Report')
plt.plot(tb_report.groupby('date').size())

# Cumulative
fig = plt.figure(figsize=(10,6))
plt.title('Cumulative Report')
plt.plot(tb_report.groupby('date').size().cumsum())

## B

In [ ]:
mycursor.execute("select * from tb_bank_number_stat")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
bank = pd.DataFrame(result, columns=field_names)
#bank['digit'] = len(bank['bank_number'])
bank['digit'] = len(bank['bank_number'].astype(str).astype('int64'))
# bank.iloc[1600:1605,]
bank.head()

## üôç‚Äç Support

### Change seller name by report ID

In [26]:
changename = """
32660->‡∏õ‡∏±‡∏ó‡πÄ‡∏°‡∏®‡∏¢‡πå ‡∏°‡∏∏‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå‡∏°‡∏ì‡∏µ
32652->‡∏û‡∏±‡∏ä‡∏£‡∏û‡∏£ ‡∏ô‡∏∏‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå
32646->‡∏ì‡∏†‡∏±‡∏ó‡∏£ ‡∏†‡∏ß‡∏†‡∏π‡∏ï‡∏≤‡∏ô‡∏ô‡∏ó‡πå
31180,31082,31201,31972->fomennl_shop fomennl_shop
32244->‡∏ê‡∏≤‡∏ô‡∏¥‡∏ï‡∏≤ ‡∏ä‡∏≤‡∏£‡∏µ
31438->‡∏ò‡∏°‡∏ô‡∏£‡∏±‡∏Å‡∏©‡πå ‡∏û‡∏¥‡∏ó‡∏¢‡πå‡∏à‡∏á‡∏´‡∏¥‡∏£‡∏±‡∏ç
"""

In [27]:
#Automatically Change fullname by report_ID
split_changename = changename.splitlines()
for line in split_changename:
    if len(line)>2:
        listofline = line.split("->")
        xx = listofline[0]
        xx=xx.strip()
        a,b = listofline[1].split()
        a=a.strip()
        b=b.strip()
        xxx = xx.split(',')
        if len(xxx) == 1:
            close_connection()
            connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
            mycursor = connection.cursor()
            TEXT = "UPDATE tb_report SET first_name = '" + str(a) + "',last_name =  '" + str(b) + "' WHERE tb_report.report_id = " + str(xx)
            TEXT
            mycursor.execute(TEXT)
            connection.commit()            
        else:
            for xxxx in xxx:
                close_connection()
                connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
                mycursor = connection.cursor()
                TEXT = "UPDATE tb_report SET first_name = '" + str(a) + "',last_name =  '" + str(b) + "' WHERE tb_report.report_id = " + str(xxxx)
                TEXT
                mycursor.execute(TEXT)
                connection.commit()

"UPDATE tb_report SET first_name = '‡∏õ‡∏±‡∏ó‡πÄ‡∏°‡∏®‡∏¢‡πå',last_name =  '‡∏°‡∏∏‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå‡∏°‡∏ì‡∏µ' WHERE tb_report.report_id = 32660"

"UPDATE tb_report SET first_name = '‡∏û‡∏±‡∏ä‡∏£‡∏û‡∏£',last_name =  '‡∏ô‡∏∏‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå' WHERE tb_report.report_id = 32652"

"UPDATE tb_report SET first_name = '‡∏ì‡∏†‡∏±‡∏ó‡∏£',last_name =  '‡∏†‡∏ß‡∏†‡∏π‡∏ï‡∏≤‡∏ô‡∏ô‡∏ó‡πå' WHERE tb_report.report_id = 32646"

"UPDATE tb_report SET first_name = 'fomennl_shop',last_name =  'fomennl_shop' WHERE tb_report.report_id = 31180"

"UPDATE tb_report SET first_name = 'fomennl_shop',last_name =  'fomennl_shop' WHERE tb_report.report_id = 31082"

"UPDATE tb_report SET first_name = 'fomennl_shop',last_name =  'fomennl_shop' WHERE tb_report.report_id = 31201"

"UPDATE tb_report SET first_name = 'fomennl_shop',last_name =  'fomennl_shop' WHERE tb_report.report_id = 31972"

"UPDATE tb_report SET first_name = '‡∏ê‡∏≤‡∏ô‡∏¥‡∏ï‡∏≤',last_name =  '‡∏ä‡∏≤‡∏£‡∏µ' WHERE tb_report.report_id = 32244"

"UPDATE tb_report SET first_name = '‡∏ò‡∏°‡∏ô‡∏£‡∏±‡∏Å‡∏©‡πå',last_name =  '‡∏û‡∏¥‡∏ó‡∏¢‡πå‡∏à‡∏á‡∏´‡∏¥‡∏£‡∏±‡∏ç' WHERE tb_report.report_id = 31438"

In [ ]:
#Manually change name by each report

#Change fullname by report_ID
# while True:
#     print("REPORT ID, seperate by comma")
#     xx = ""
#     xx = input()
#     if xx:
#         xx = xx.split(',')
#         print("fullname")
#         a,b = input().split()
#         a=a.strip()
#         b=b.strip()

#         close_connection()
#         connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
#         mycursor = connection.cursor()

#         for x in xx:
#             x = x.strip()
#             TEXT = "UPDATE tb_report SET first_name = '" + str(a) + "',last_name =  '" + str(b) + "' WHERE tb_report.report_id = " + str(x)
#             TEXT
#             mycursor.execute(TEXT)
#             connection.commit()
#     else:
#         print("\nEXITING")
#         break

### Change bank account

In [ ]:
#Display bank list table
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * FROM tb_bank"
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
var1 = pd.DataFrame(result, columns=field_names)
var1.set_index('bank_id')

In [ ]:
# NOT DONE YET   (code to fix bank name and report name)
report_id_to_check = 22395

close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

TEXT = "SELECT * FROM tb_report_bank WHERE report_id = " + str(report_id_to_check)
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
table1 = pd.DataFrame(result, columns=field_names)
table1.set_index('report_id')

TEXT = "SELECT report_id, first_name, last_name FROM tb_report WHERE report_id = " + str(report_id_to_check)
mycursor.execute(TEXT)
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]
table2 = pd.DataFrame(result, columns=field_names)
table2.set_index('report_id')

### Send & Retrieve report to/from support

In [ ]:
#   24530 ‡∏Å‡∏±‡∏ö 24407

In [ ]:
#Send report to support
# 1. copy userid to admin note
# 2. replace user id with user id 59919 
print("Report_ID to transfer to support : ")
x=input()

# TEXT = "UPDATE tb_report SET admin_note = user_id WHERE report_id = " + str(x)
# TEXT
runsql("UPDATE tb_report SET admin_note = user_id WHERE report_id = " + str(x))
runsql("UPDATE tb_report SET user_id = 59919 WHERE report_id = " + str(x))

In [ ]:
#Retrieve report back to real owner
print("Report_ID to retrieve back : ")
x=input()
runsql("UPDATE tb_report SET user_id = admin_note WHERE report_id = " + str(x))

### Export tb_report to export

In [ ]:
#PREPARE TB_REPORT
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id','first_name','last_name','idcard','product', 'price', 'website', 'detail_text', 'date', 'active']]
df['fullname'] = df['first_name']+ " " + df['last_name']
df = df[['report_id','first_name','last_name','fullname','idcard','product','price','detail_text','website','date','active']]
df = df.set_index(['report_id'])

d = datetime.datetime.today().strftime("%d-%B-%Y")
tb_report_filename = "tb_report-" + str(d) + ".xls"
tb_report_filename
df.to_excel(tb_report_filename)
print("Done export excel file")

## For student (cleansing data) , export detail & website

In [ ]:
#PREPARE TB_REPORT
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id', 'detail_text','website']]
df = df.set_index(['report_id'])
df=df.sort_index(axis = 0)

In [ ]:
#cut only first 1000 rows to student
to_export = df.iloc[:1000]
to_export
to_export.to_excel("df_for_cleaning_website.xls")

## WordCount website

In [ ]:
#PREPARE TB_REPORT
close_connection()
connection = mysql.connector.connect(host='172.96.191.12',database='blacklis_db2020',user=username,password=password)
mycursor = connection.cursor()

mycursor.execute("select * from tb_report")
result = mycursor.fetchall()
field_names = [i[0] for i in mycursor.description]  #Column name
tb_report = pd.DataFrame(result, columns=field_names)

#prepare tb_report
df = tb_report[['report_id','first_name','last_name','idcard','product', 'price', 'website', 'detail_text', 'date', 'active']]
df['fullname'] = df['first_name']+ " " + df['last_name']
df = df[['report_id','first_name','last_name','fullname','idcard','product','price','detail_text','website','date','active']]
df = df.set_index(['report_id'])

In [ ]:
pd.set_option('display.max_rows', None)


df['website'] = df['website'].str.replace('/' , ', ')
df['website'] = df['website'].str.replace(' ' , ', ')

dff = (df['website'].str.split(',' ,expand=True)
              .stack()
              .value_counts()
              .rename_axis('vals')
              .reset_index(name='count'))

## Blur face image

In [ ]:

imagepath = "face.jpg"
image = cv2.imread(imagepath)
result_image = image.copy()

# Specify the trained cascade classifier
face_cascade_name = "./haarcascade_frontalface_alt.xml"

# Create a cascade classifier
face_cascade = cv2.CascadeClassifier()

# Load the specified classifier
face_cascade.load(face_cascade_name)

#Preprocess the image
grayimg = cv2.cvtColor(image, cv2.cv.CV_BGR2GRAY)
grayimg = cv2.equalizeHist(grayimg)

#Run the classifiers
faces = face_cascade.detectMultiScale(grayimg, 1.1, 2, 0|cv2.cv.CV_HAAR_SCALE_IMAGE, (30, 30))

print("Faces detected")

if len(faces) != 0:         # If there are faces in the images
    for f in faces:         # For each face in the image

        # Get the origin co-ordinates and the length and width till where the face extends
        x, y, w, h = [ v for v in f ]

        # get the rectangle img around all the faces
        cv2.rectangle(image, (x,y), (x+w,y+h), (255,255,0), 5)
        sub_face = image[y:y+h, x:x+w]
        # apply a gaussian blur on this new recangle image
        sub_face = cv2.GaussianBlur(sub_face,(23, 23), 30)
        # merge this blurry rectangle to our final image
        result_image[y:y+sub_face.shape[0], x:x+sub_face.shape[1]] = sub_face
        face_file_name = "./face_" + str(y) + ".jpg"
        cv2.imwrite(face_file_name, sub_face)

# cv2.imshow("Detected face", result_image)
cv2.imwrite("./result.png", result_image)

## Watermark Image

In [ ]:
from PIL import Image
image = Image.open('bls logo.png')
print(type(image))  # output: <class 'PIL.JpegImagePlugin.JpegImageFile'>
# image.show()
print(image.size)

# image.save('test.png')

In [ ]:
from PIL import Image

image_to_do = "[25001]_Screenshot_2020-03-29-22-09-35-95.png"
logo_file = "bls logo.png"
output_file = "test.png"
image = Image.open(image_to_do)
logo = Image.open(logo_file)


def create_watermark(image_path, final_image_path, watermark):
    main = Image.open(image_path)
    mark = Image.open(watermark)
    mask = mark.convert('L').point(lambda x: min(x, 25))
    mark.putalpha(mask)

    mark_width, mark_height = mark.size
    main_width, main_height = main.size
    aspect_ratio = mark_width / mark_height
    new_mark_width = main_width * 0.25
    mark.thumbnail((new_mark_width, new_mark_width / aspect_ratio), Image.ANTIALIAS)

    tmp_img = Image.new('RGB', main.size)
    
    for i in range(0, tmp_img.size[0], mark.size[0]):
        for j in range(0, tmp_img.size[1], mark.size[1]):
            main.paste(mark, (i, j), mark)
            main.thumbnail((8000, 8000), Image.ANTIALIAS)
            main.save(final_image_path, quality=100)

create_watermark(image_to_do, output_file, logo_file)            

# if __name__ == '__main__':
#     create_watermark('images/original.jpg',
#                      'images/original_final_watermarked.jpg',
#                      'images/pybites_trans.png')

showoutput = Image.open('test.png')
showoutput.show()

## Learn API

In [ ]:
print("before import")
import math

print("before functionA")
def functionA():
    print("Function A")

print("before functionB")
def functionB():
    print("Function B {}".format(math.sqrt(100)))

print("before __name__ guard")
if __name__ == '__main__':
    functionA()
    functionB()
print("after __name__ guard")

In [34]:
git clone https://github.com/jitvimol/bls

SyntaxError: invalid syntax (<ipython-input-34-57562feb7a46>, line 1)